/*Setup*/
html,body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: gray;
}
/*Form styling*/
#main_form{
    display: flex;
    background-color: white;
    padding: 1.1em;
    padding-top: 1em;
    margin-top: 1em;
    border-radius: 1.5em;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
#main_form h1{
    margin-bottom: 0.5em;
}
form{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

button{
    width: 4em;
}
ul{
    width: 100%;
}
li{
    width: 100%;
    margin-bottom: 1em;
    list-style-type: none;
    display: flex;
    align-items: center;
}
/*Spaces the input and label evenly*/
label{
    flex: 1 0 10em;
    max-width: 8em;
}
input{
    height: 1.5em;
}
textarea{
    height: 5em;
    width: 30em;
}
.radiolabels{
    flex: 0 0 0;
    margin-left: 1px;
    margin-right: 1em;
}
fieldset{
    border: 0;
    display: flex;
}
/*Task section*/
#tasksection{
    display: flex;
    flex-flow: column;
}
/*Footer*/
footer{
    width: 100%;
    margin-top: auto;
}